#IDEA Files
.idea/
.idea/*
!.idea/vcs.xml
!.idea/icon.png
*.iml
*.ipr
bin

#VSCode
.vscode

#Eclipse files
*.settings
*.classpath
*.project
*.pydevproject

#Maven
target

#Gradle
.gradle
build

# TeamCity
downloads
.teamcity

#Mac OS stuff
.DS_Store